{
  "rules": [
    {
      "description": "Prevent all package manager install commands",
      "match": "**",
      "blockCommands": [
        "npm install",
        "npm ci",
        "yarn",
        "yarn install",
        "pnpm install"
      ]
    }
  ],
  "include": [
    {
      "path": "backend/src/db/schema/schema.sql",
      "weight": 10
    }
  ],
  "exclude": [
    {
      "path": "backend/node_modules/**"
    },
    {
      "path": "frontend/node_modules/**"
    },
    {
        "path": "frontend/dist/**"
    },
    {
        "path": "venv/**"
    }
  ]
}
