@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin 'tailwind-scrollbar';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-text: black;
    --color-text-dark: #d1d5db;
    --grid-auto-rows: auto;
}

html {
    --color-text: black;
    color: var(--color-text);
    font-size: 14px;
}

html.dark {
    --color-text: #d1d5db;
}