@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@plugin 'tailwind-scrollbar';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-text: black;
    --color-text-dark: #d1d5db;
    --color-background: #f3f4f6;
    --color-background-dark: #111827;
    --grid-auto-rows: auto;
    --color-bg-content: #ffffff;
    --color-bg-content-dark: #364153;
    --color-border-content: #000000;
    --color-border-content-dark: #6a7282;
}

@layer base {
    body {
        color: var(--color-text);
    }
}

@layer utilities {
    .bg-surface {
        background-color: var(--color-background);
    }

    .bg-content {
        background-color: var(--color-bg-content);
    }

    .border-content {
        border-color: var(--color-border-content);
    }

    .text-color-default {
        color: var(--color-text);
    }
}

.Scrollbar {
    display: flex;
    justify-content: center;
    background-color: var(--color-gray-400);
    width: 0.25rem;
    border-radius: 0.375rem;
    margin: 0.5rem;
    opacity: 0;
    transition: opacity 150ms 300ms;

    &[data-hovering],
    &[data-scrolling] {
        opacity: 1;
        transition-duration: 75ms;
        transition-delay: 0ms;
    }

    &::before {
        content: '';
        position: absolute;
        width: 1.25rem;
        height: 100%;
    }
}

.Thumb {
    width: 100%;
    border-radius: inherit;
    background-color: var(--color-gray-600);
}

:root {
    --color-text: black;
    color: var(--color-text);
    font-size: 14px;
    background-color: var(--color-background);
}

:root.dark {
    --color-text: var(--color-text-dark);
    --color-background: var(--color-background-dark);
    --color-bg-content: var(--color-bg-content-dark);
    --color-border-content: var(--color-border-content-dark);
}

html,
body {
    height: 100%;
    overflow: hidden;
}
